Importing necessary libraries

In [1]:
# Numerical & Data analysis
import pandas as pd
import numpy as np

# Data visualization
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')
import io

from google.colab import files

Loan.csv upload and dump in dataframe.

In [ ]:
Data = files.upload()

df = pd.read_csv(io.BytesIO(Data['loan.csv']))
print(df)

Take backup of original dataframe before doing any manipulation.

In [ ]:
old_df=df
print(old_df)

In [ ]:
print(df.shape)

# **DATA PREPROCESSING**

Check how many columns have 100% null values and drop those columns from database.

In [5]:
for col in df.columns:
    unique_count=df[col].nunique()
    # print(f"Column {col} : unique values {unique_count}")
    if unique_count==0:
        df.drop(col,axis=1,inplace=True)

After dropping columns check dataframe shape.

In [6]:
print(df.shape)

(39717, 57)

Out of 57 columns check how much data is not available in each column and if >50% data is not available then drop that column

In [7]:
for col in df.columns:
    val=int(df[col].isnull().mean()*100)
    if val > 50:
        df.drop(col,axis=1,inplace=True)

In [8]:
print(df.shape)

(39717, 54)

Segmentation of columns : categorical or numerical.

In [9]:
# cat_count : Count variables to get count of categorical columns.
# cat_cols : To store categorical column names list

cat_count=0
cat_cols=[]
for col in df.columns:
     unique_ct=df[col].nunique()
     if unique_ct<=10:
        cat_count+=1
        cat_cols.append(col)
        # print(f"{col} : unique values {unique_ct} ")

print(f"Categorical column names : {cat_count}")
print(cat_cols)

Categorical column names : 17
['term', 'grade', 'home_ownership', 'verification_status', 'loan_status', 'pymnt_plan', 'inq_last_6mths', 'pub_rec', 'initial_list_status', 'collections_12_mths_ex_med', 'policy_code', 'application_type', 'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt', 'pub_rec_bankruptcies', 'tax_liens']

In [ ]:
df[cat_cols].nunique()

df.shape

If column have single unique value then it wont be beneficial to do analysis so will drop that also.

In [ ]:
for col in cat_cols:
     unique_ct=df[col].nunique()
     if unique_ct==1:
        cat_count-=1
        cat_cols.remove(col)
        df.drop(col,axis=1,inplace=True)

print(f"Updates categorical column count : {cat_count}")
print(cat_cols)

In [ ]:
df.shape

cat_cols

There are two id columns in csv which won't be useful for analysis so will drop those columns.

In [ ]:
df.drop('id',axis=1,inplace=True)
df.shape

df.drop('member_id',axis=1,inplace=True)
df.shape

In [ ]:
df.shape

df.info()

df.nunique()

In [15]:
for col in cat_cols:
     df[col]= df[col].astype(str)
     if len(df[col].unique())==1:
        cat_count-=1
        cat_cols.remove(col)
        df.drop(col,axis=1,inplace=True)

In [16]:
df.shape

(39717, 45)

In [ ]:
df.nunique()

Dealing with 2 values in column 'tax_liens','chargeoff_within_12_mths','collections_12_mths_ex_med' as 0.0 & nan.

In [18]:
# if df['tax_liens'].nunique()==0:
#   df.drop('tax_liens',axis=1,inplace=True)

# df['tax_liens'].unique()

# df['tax_liens'].fillna(0., inplace=True)

# df['tax_liens'].unique()

# if df['tax_liens'].nunique() == 1 and df['tax_liens'].unique()[0] == 0:
#     df.drop('tax_liens', axis=1, inplace=True)
if df['chargeoff_within_12_mths'].nunique() == 1 and df['chargeoff_within_12_mths'].unique()[0] == 0:
    df.drop('chargeoff_within_12_mths', axis=1, inplace=True)

df.shape

(39717, 44)

In [ ]:
df.nunique()

In [19]:
df.shape

(39717, 44)

In [22]:
if df['collections_12_mths_ex_med'].nunique() == 1 and df['collections_12_mths_ex_med'].unique()[0] == 0:
    df.drop('collections_12_mths_ex_med', axis=1, inplace=True)

In [ ]:
df.shape

Data manipulation to make data visualisation process easy & smooth.

In [ ]:
old_df['term'] = df['term'].apply(lambda x: int(x.split()[0]))
print(old_df)

In [ ]:
old_df['int_rate']=old_df['int_rate'].str.replace('%','')
print(old_df['int_rate'])

In [ ]:
# Encode loan status values
mapping =  {'Fully Paid':0,'Charged Off':1,'Current':2}
old_df['loan_status']=old_df['loan_status'].replace(mapping)
print(old_df['loan_status'])

# ***DATA VISUALIZATION***

Heatmap

In [ ]:
# columns_for_heatmap  = ['loan_amnt','int_rate','term','loan_status','total_acc','out_prncp','total_pymnt','total_rec_int','recoveries']
columns_for_heatmap  = ['loan_amnt','int_rate','term','loan_status']
heatmap_data = df[columns_for_heatmap]
correlation_matrix = heatmap_data.corr()
plt.figure(figsize=(5,5))
sns.heatmap(correlation_matrix,annot=True)
plt.title('Loan features Correlation ')
plt.show()

In [28]:
count_by_condition = df['loan_status'].value_counts()
print(count_by_condition)

loan_status
0    32950
1     5627
2     1140
Name: count, dtype: int64

In [30]:
# Fully Paid':0,'Charged Off':1,'Current':2}
data = {'Category': ['Fully Paid', 'Charged Off', 'Current'],
        'Value': [32950, 5627, 1140]}

In [ ]:
bar_data = pd.DataFrame(data)
sns.barplot(x='Category', y='Value', data=bar_data)
plt.show()

In [32]:
data = {'Category': ['Fully Paid', 'Charged Off', 'Current'],
        'Value': [36, 60]}

In [ ]:
cat_cols

In [36]:
cat_cols.remove('collections_12_mths_ex_med')

In [37]:
cat_cols.remove('chargeoff_within_12_mths')

In [ ]:
for i in cat_cols:
  print("Countplot ")
  sns.countplot(x=df[i])
  plt.show()

In [44]:
num_cols=['loan_amnt','int_rate','term']

In [ ]:
for i in num_cols:
    print("Histogram for column:", i)
    sns.histplot(df[i], kde=True)  # Create histogram with kernel density estimate
    plt.xlabel(i)  # Add label to x-axis
    # plt.ylabel("loan_status")  # Add label to y-axis
    plt.show()

In [48]:
# Dataset after preprocessing & analytics
df.shape

(39717, 44)

In [ ]:
df.info()

In [ ]:
df.describe()

In [51]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,pub_rec_bankruptcies
0,5000,5000,4975.0,36,10.65,162.87,B,B2,NaN,10+ years,...,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,May-16,0.0,0.0
1,2500,2500,2500.0,60,15.27,59.83,C,C4,Ryder,< 1 year,...,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,Sep-13,0.0,0.0
2,2400,2400,2400.0,36,15.96,84.33,C,C5,NaN,10+ years,...,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,May-16,0.0,0.0
3,10000,10000,10000.0,36,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,...,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,Apr-16,0.0,0.0
4,3000,3000,3000.0,60,12.69,67.79,B,B5,University Medical Group,1 year,...,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,May-16,0.0,0.0